{% extends "base.html" %}

{% block content %}
<div class="container-fluid full-screen-container" style="background-image: url('{{ url_for('static', filename='logo.jpg') }}'); padding: 0; margin: 0; min-height: 100vh; background-size: cover; background-position: center;">
    <h1 style="font-size: 2.5rem;">Dobrodošli u Konchichi webshop</h1>
    <p style="font-size: 1.25rem;">Istražite našu predivnu kolekciju unikatnog ručno rađenog nakita.</p>
    <p style="font-size: 1.25rem;">Svaki komad je pažljivo izrađen s ljubavlju i strašću za detaljima.</p>
</div>
{% endblock %}

{% block styles %}
<style>
    .full-screen-container {
        padding: 0;
        margin: 0;
        min-height: 100vh;
        background-size: cover;
        background-position: center;
        color:white
    }
</style>
{% endblock %}
