{% extends "base.html" %}

{% block content %}
    <div class="container-fluid full-screen-container" style="background-image: url('https://i.ebayimg.com/thumbs/images/g/OzcAAOSwzFpjPz9i/s-l640.jpg');color: white;padding: 0;margin: 0;min-height: 100vh;background-size: cover;background-position: center;color:white;">
        <h1>Dobrodošli u Konchichi webshop</h1>
        <p>Istražite našu predivnu kolekciju unikatnog ručno rađenog nakita.</p>
        <p>Svaki komad je pažljivo izrađen s ljubavlju i strašću za detaljima.</p>

        <!-- <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="putanja/do/slike1.jpg" class="card-img-top" alt="Nakit 1">
                    <div class="card-body">
                        <h5 class="card-title">Nakit 1</h5>
                        <p class="card-text">Opis nakita 1.</p>
                        <a href="#" class="btn btn-primary">Detalji</a>
                    </div>
                </div>
            </div>            
        </div> -->
    </div>
{% endblock %}

{% block styles %}
<style>
    .full-screen-container {
        padding: 0;
        margin: 0;
        min-height: 100vh;
        background-size: cover;
        background-position: center;
        color:white
    }
</style>
{% endblock %}
