{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Katalog</h1>

        <div class="row">
            {% for article in articles %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ url_for('static', filename=article.article_name + '.jpg') }}" style="max-height: 355px" class="card-img-top" alt="{{ article.article_name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.article_name }}</h5>
                        <p class="card-text">{{ article.description }}</p>
                        <p class="card-text">Price: ${{ article.price }}</p>
                        <a href="#" class="btn btn-primary">Naruči</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}